{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Flow Auth plugin for Craft CMS 3.x
 *
 * Flow Auth index.twig
 *
 * @author    Richard Frank
 * @copyright Copyright (c) 2018 Richard Frank
 * @link      www.flowsa.com
 * @package   FlowAuth
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsa\\flowauth\\assetbundles\\flowauth\\FlowAuthAsset") %}
{% do view.registerAssetBundle("flowsa\\flowauth\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Flow Auth" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('flow-auth') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsa/flowauth/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('flow-auth') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <o>Flow Auth enables you to log in to the Craft control panel using Google Auth.</p>
  
    <a href="{{url('settings/plugins/flow-auth')}}" class="btn submit">Edit Settings</a>

    {# <img src="{{ iconUrl }}" height="64" width="64" /> #}
    <p class="textline"></p>
{% endset %}
