<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
   <a class="btn btn-primary submit" href="{{ craft.flowAuth.loginUrl }}">Log in with Google</a>
</body>
</html>



