{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Flow Auth plugin for Craft CMS 3.x
 *
 * Flow Auth Settings.twig
 *
 * @author    Richard Frank
 * @copyright Copyright (c) 2018 Richard Frank
 * @link      www.flowsa.com
 * @package   FlowAuth
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsa\\flowauth\\assetbundles\\flowauth\\FlowAuthAsset") %}

<ul>
<li>You need to set up <a href="https://developers.google.com/identity/sign-in/web/sign-in">Google Sign</a> which will give you your Google App ID and Secret</li>
<li>During the set up process, you will need to add the following callback URI</li>
<li>{{ craft.flowAuth.callbackUrl }}</li>
<li>Note this will change depending on your environment, so whitelist all domains</li>
<li>The Google account must match the Craft account by email address in order to log in, unless "Match any account in domain" is set to true.</li>
<li>Elevated session duration must be set to false in general.php or else you will need a password for certain operations - 'elevatedSessionDuration' => false</li>
</ul>


{{ forms.textField({
    label: 'Google Client Id',
    instructions: 'Get your Google Client ID <a href="https://developers.google.com/identity/sign-in/web/sign-in">here</a>',
    id: 'googleClientId',
    name: 'googleClientId',
    required: true,
    value: settings['googleClientId']})
}}

{{ forms.textField({
    label: 'Google Client Secret',
    instructions: 'Get your Google Client Secret <a href="https://developers.google.com/identity/sign-in/web/sign-in">here</a>',
    id: 'googleClientSecret',
    name: 'googleClientSecret',
    required: true,
    value: settings['googleClientSecret']})
}}

{# {{ forms.textField({
    label: 'Redirect URI',
    instructions: '',
    id: 'googleRedirectUri',
    name: 'googleRedirectUri',
    required: true,
    value: settings['googleRedirectUri']})
}} #}

{{ forms.textField({
    label: 'Domain Restriction',
    instructions: 'Users can only log in using this email domain. If you leave this blank, the Match any account in domain setting will be ignored',
    id: 'hostedDomain',
    name: 'hostedDomain',
    required: true,
    value: settings['hostedDomain']})
}}


{{ forms.lightSwitchField({
    label: 'Match any account in domain',
    instructions: 'Any account in the domain will log in as single selected craft user. This setting is ignored if domain is set to blank',
    id: 'matchAnyAccountInDomain',
    name: 'matchAnyAccountInDomain',
    required: true,
    on: settings['matchAnyAccountInDomain'],

}) }}



{# {{dump(users)}} {% exit %} #}

{{ forms.selectField({
    label: 'User to login as',
    instructions: 'Select the user to login as if match any account setting is selected. User must have CP access enabled.',
    id: 'userIdToLoginAs',
    name: 'userIdToLoginAs',
    options: craft.flowAuth.allUsers,
    value: settings['userIdToLoginAs'],
    required: false,
}) }}




{{ forms.textField({
    label: 'Login Path',
    instructions: 'URI to login to. This cannot be a reserved route. Default is /adminlogin.',
    id: 'loginPath',
    name: 'loginPath',
    required: true,
    value: settings['loginPath']})
}}

{{ forms.textField({
    label: 'Logout Path',
    instructions: 'URI to logout. This cannot be a reserved route. Default is /adminlogout.',
    id: 'logoutPath',
    name: 'logoutPath',
    required: true,
    value: settings['logoutPath']})
}}


