{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Flow Auth plugin for Craft CMS
 *
 * FlowAuthWidget Widget Settings
 *
 * @author    Richard Frank
 * @copyright Copyright (c) 2018 Richard Frank
 * @link      www.flowsa.com
 * @package   FlowAuth
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsa\\flowauth\\assetbundles\\flowauth\\FlowAuthAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
