{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Flow Auth plugin for Craft CMS
 *
 * FlowAuthWidget Widget Body
 *
 * @author    Richard Frank
 * @copyright Copyright (c) 2018 Richard Frank
 * @link      www.flowsa.com
 * @package   FlowAuth
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsa/flowauth/assetbundles/flowauthwidgetwidget/dist', true) ~ '/img/FlowAuthWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
