{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Flow Auth plugin for Craft CMS
 *
 * FlowAuthUtility Utility Content
 *
 * @author    Richard Frank
 * @copyright Copyright (c) 2018 Richard Frank
 * @link      www.flowsa.com
 * @package   FlowAuth
 * @since     1.0.0
 */
#}

<h1>FlowAuthUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsa/flowauth/assetbundles/flowauthutilityutility/dist', true) ~ '/img/FlowAuthUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>